# .editorconfig

# Top-most EditorConfig file
root = true

# Default settings for all files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# JavaScript, TypeScript, JSON, and Vite-related files
[*.{js,ts,json}]
indent_style = space
indent_size = 2

# CSS, SCSS, and Tailwind-related files
[*.{css,scss,sass,less}]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
indent_style = space
indent_size = 2
